@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

<div>
    <button class="btn btn-success" @onclick="StartServer">Start</button>
    <button class="btn btn-danger" @onclick="StopServer">Stop</button>
</div>
<div class="form-group">
    <label>
       
        <input value=@_command @oninput=@(e => _command = e.Value?.ToString()) size="80" @onkeypress=@OnEnter/>
    </label>
</div>


<hr>

<textarea readonly cols="80" rows="30" style="font-family:Consolas,monospace">
    @foreach(var message in _messages)
    {
        @($"{message}\n")
    }
</textarea>

