@page "/"
@using MineCraftConsole.Shared
@if (_servers is not null)
{
    <table class="table table-striped">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Path
            </th>
            <th>
                Running?
            </th>
        </tr>
        @foreach (var server in _servers)
        {
            <tr>
                <td><NavLink href=@($"/servers/{server.Id}")>@server.Id</NavLink></td>
                <td>@server.Name</td>
                <td>@server.ServerJarPath</td>
                <td>@(server.ProcessId is not null)</td>

            </tr>
        }
    </table>
}
else
{
    <div>Fetching Server list ...</div>
}


