@page "/servers/{id:int}"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager


<PageTitle>Server</PageTitle>

@if (_server is not null)
{
    <h3>@_server.Name</h3>
    <div class="mb-3">
        <button class="btn btn-success me-2" disabled=@IsRunning @onclick="StartServer">Start</button>
        <button class="btn btn-danger" disabled="@(!IsRunning)" @onclick="StopServer">Stop</button>
    </div>
    


    <hr>

    <pre class="form-control" style="width: 80rem; height: 800px;font-family:Consolas,monospace; white-space:pre-wrap">
        @foreach (var message in _messages)
        {
            @($"{message}\n")
        }
    </pre>
    <div class="form-group">
        <label>

            <input class="form-control" value=@_command @oninput=@(e => _command = e.Value?.ToString()) size="80" @onkeypress=@OnEnter />
        </label>
    </div>

}

