@page "/servers/{id:int}"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager


<PageTitle>Server</PageTitle>

@if (_server is not null)
{
    <h3>@_server.Name</h3>
    <div class="mb-3">
        <button class="btn btn-success me-2" disabled=@IsRunning @onclick="StartServer">Start</button>
        <button class="btn btn-danger" disabled=@(!IsRunning) @onclick="StopServer">Stop</button>
    </div>
    <div class="form-group">
        <label>

            <input value=@_command @oninput=@(e => _command = e.Value?.ToString()) size="80" @onkeypress=@OnEnter />
        </label>
    </div>


    <hr>

    <textarea readonly cols="120" rows="30" style="font-family:Consolas,monospace">
        @foreach (var message in _messages)
        {
            @($"{message}\n")
        }
    </textarea>

}

