@inherits LayoutComponentBase
<div class="sidebar">
    <h3>CraftWrap</h3>
    <hr>
    <ul class="list-unstyled">
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Servers</NavLink>
        </li>
    </ul>
</div>

<div class="content">
    @Body
</div>
